{% extends 'base.html' %}
{% load static %}
{% block content %}
  <header class="masthead">
    <section class="page-section" id="contact">
      <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <form id="contactForm" method="post">
              <div class="form-floating mb-3 d-flex justify-content-center">
                {{ login_form.username }}
                <label for="id_username">Username</label>
              </div>
              <div class="form-floating mb-3 d-flex justify-content-center">
                {{ login_form.password }}
                <label for="id_password">Password</label>
              </div>
              <div class="form-floating mb-3 d-flex justify-content-center">
                <p class="text-white">{{ login_form.authorize }} {{ login_form.authorize.label }}</p>
              </div>
              <p class="text-white text-center">By checking this box, you agree to log all your activities.</p>
              {% csrf_token %}
              <div class="text-center text-danger mb-3">{{ message }}</div>
              <div class="d-flex justify-content-center">
                <a class="btn btn-secondary btn-xl m-1" href="{% url 'reset_password' %}">Reset my password</a>
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </header>
{% endblock %}
