{% extends 'base.html' %}
{% load static %}
{% block content %}
  <header class="masthead">
    <section class="page-section" id="contact">
      <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
          <h1 class="text-white">User Profile</h1>
          <div class="col-md-2">
            <div class="d-flex justify-content-center">
              <img src="{{ user_profile.profile_picture.url }}" class="img-fluid" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;" />
            </div>
          </div>
          <div class="col-md-10">
            <h2 class="text-white">{{ user_profile.user.username }}</h2>
            <p class="text-white" style="overflow-wrap: break-word; width: 100%;">Bio: {{ user_profile.bio }}</p>
            <h2 class="text-white">Tutorials</h2>
            {% if tutorials %}
              <ul>
                {% for tutorial in tutorials %}
                  <li class="d-flex my-1 align-items-start">
                    <a class="btn btn-outline-primary" href="{% url 'tutorial' id=tutorial.id %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                      </svg> {{ tutorial.title|safe }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No tutorials found.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </header>
{% endblock %}
