{% extends 'base.html' %}
{% load static %}
{% block content %}
  <header class="masthead">
    <section class="page-section" id="contact">
      <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h1 class="text-white">Change Password</h1>
            {% if password_form %}
            <form method="post">
              {% csrf_token %}
              <div class="form-floating mb-3 d-flex justify-content-center">
                {{ password_form.new_password }}
                <label for="id_new_password">New Password</label>
              </div>
              <div class="form-floating mb-3 d-flex justify-content-center">
                {{ password_form.confirm_new_password }}
                <label for="id_confirm_new_password">Confirm New Password</label>
              </div>
              <div class="text-center text-danger mb-3">{{ message }}</div>
              <div class="d-grid">
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Change Password</button>
              </div>
            </form>
            {% else %}
            <div class="text-center text-white mb-3">{{ message }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </header>
{% endblock %}
